/* General container styling */
.container {
    display: flex;
    flex-direction: column; /* Empilha elementos verticalmente */
    align-items: center; /* Centraliza conteúdo horizontalmente */
    background-color: #2c2c2c; /* Fundo escuro para contraste */
    color: white; /* Cor do texto para visibilidade */
    min-height: 100vh; /* Garante que a altura mínima ocupe toda a tela */
}

/* Styling for the input container */
.containerInput {
    margin-bottom: 2%; /* Espaço entre o input e os resultados da pesquisa */
    display: flex;
    gap: 10px; /* Espaço entre input e botão */
}

/* Button search styling */
.buttonSearch {
    padding: 10px 15px; /* Aumentado para melhor acessibilidade */
    background-color: #007bff; /* Cor de fundo do botão */
    border: none; /* Remove a borda padrão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    color: white; /* Cor do texto do botão */
    border-radius: 4px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Efeito de transição suave ao passar o mouse */
}

.buttonSearch:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

.type-selector {
    padding: 10px;
    margin-right: 10px; /* Space between selector and input */
    background-color: #444; /* Match your theme */
    color: white; /* Text color */
    border: 1px solid #fff; /* Optional: border styling */
    border-radius: 4px; /* Rounded corners */
}

/* Styling for the animelist container */
.animelist {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-height: 60vh; /* Define a altura máxima da lista */
    overflow-y: auto; /* Adiciona barra de rolagem se exceder a altura */
}

/* Styling for each manga item */
.manga-item {
    width: 200px; /* Largura fixa para cada item */
    text-align: center; /* Centraliza o texto */
    background-color: #444; /* Cor de fundo opcional para cada item */
    padding: 10px; /* Preenchimento interno */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidade */
    transition: transform 0.2s; /* Efeito de transição suave ao passar o mouse */
}

.manga-item:hover {
    transform: scale(1.05); /* Aumenta o item ao passar o mouse */
}

.manga-item img {
    width: 100%; /* Ajustado para ocupar toda a largura do item */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 5px; /* Bordas arredondadas na imagem */
    margin-bottom: 10px; /* Espaço abaixo da imagem */
    cursor: pointer;
}

.manga-title {
    color: white; /* Garante que o título seja visível em fundo escuro */
    font-size: 18px; /* Tamanho da fonte do título */
    margin: 5px 0; /* Margem acima e abaixo do título */
}
